/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font specs */

h1, h2{
	@apply text-white;
}

h1{
  @apply text-xl;
}

h2{
  @apply text-base;
}

h3, h4{
  @apply text-lg;
  @apply font-semibold;
}

p{
  @apply text-base;
}

a{
  @apply cursor-pointer;
}

/* Hero Banner image */

.hero {
  background-image: url("../public/assets/hero-bg.jpg");
  background-size: cover;
  background-position: center center;
}

* {
  box-sizing: border-box;
}
