/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font specs */

h1, h2{
	@apply text-white;
}

h1{
  @apply text-xl;
}

h2{
  @apply text-base;
}

h3, h4{
  @apply text-lg;
  @apply font-semibold;
}

p{
  @apply text-base;
}

a{
  @apply cursor-pointer;
}

/* Hero Banner image */

.hero {
  background-image: url("../public/assets/hero-bg.jpg");
  background-size: cover;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}