/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Mono Light';
  src: local('SF Mono')
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SF Mono'
}

/* font specs */

h1, h2{
	@apply text-white;
}

h1{
  @apply text-xl;
  @apply font-bold;
}

h2, p{
  @apply text-sm;
  @apply font-light;
}

h3{
  @apply text-base;
  @apply text-center;
  @apply font-semibold;
}

h4{
  @apply text-lg;
  @apply font-semibold;
  @apply text-center;
}

a{
  @apply cursor-pointer;
  @apply text-sm;
}

/* Hero Banner image */

.hero {
  background-image: url("../public/assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

* {
  box-sizing: border-box;
}
